<%= render partial: 'new_post_form' %>

<dl>
  <% @posts.each do |post| %>
    <div id='each_post'><dt><%= link_to post.title, user_posts_path %></dt>
    <dd><%= truncate(post.content, length: 350) %></dd></div>
  <% end %>
</dl>

<% if params[:show_all].blank? %>
  <p>
    Showing updates from the last 7 days.
    <%= link_to 'Show all posts', user_posts_path(show_all: true) %>
  </p>
<% end %>
